body {
    font-family: Arial, sans-serif;
     background: linear-gradient(135deg, #6c5ce7, #fd79a8);
    margin: 0;
    padding: 0;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #93c6f9;
}
.header img {
    height: 50px;
}
.header nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.header nav a:hover {
    text-decoration: underline;
}
.search-bar input {
    padding: 5px;
    font-size: 16px;
}
.header .user-icon {
    height: 40px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}
.content {
    padding: 20px;
}
.content h1 {
    margin-bottom: 20px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background-color: #00539C;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h2 {
    margin-bottom: 10px;
}
.card p {
    margin-bottom: 20px;
    flex-grow: 1;
}
.card button {
    background-color: #77dd77;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.card button:hover {
    background-color: #56c456;
}